*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    
    width: 1200px;
    margin: auto;
}
.nav{
    /* display: flex;
    justify-content: space-between; */
    padding: 30px 0;
}
.list{
    display: flex;
     justify-content: flex-end;
    column-gap: 30px; 
     align-items: center; 
}
.link{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    justify-content: flex-end;
}
.logo{
    color: black;
    text-transform: uppercase;
    font-size:40px;
    font-weight: 700;
    justify-content: flex-start;
    padding-right: 130px;
}



.lorem{
    padding:0 0 0 135px;
}
.box{
    justify-content: space-between;
     height: 200px;
     width: 200px;
     margin-top: -60px;
     margin-left: 1000px;
     background-color: black;
     border-radius: 50%;
     
}

#txt {
    padding-left: 135px;
}
.qator {
    display: flex;

}

.image_1 {
    background-color: black;
    width: 350px;
    height: 200px;
    margin:  30px 0 0 220px ;
}
.section1{
    display: flex;
}
.h1 {
    padding: 50px 0 0 50px;
}
.sec1_p {
    padding: 100px 0 0 0;
    margin: 0 0 0 -150px;
}
.image_1 {
    background-color: black;
    width: 350px;
    height: 200px;
    margin:  30px 0 0 220px ;
}
.section2{
    display: flex;
}
.h2 {
    padding: 50px 0 0 50px;
}
.sec2_p {
    padding: 100px 0 0 0;
    margin: 0 0 0 -150px;
}
.image_2 {
    background-color: black;
    width: 350px;
    height: 200px;
    margin:  30px 0 0 220px ;
}
.section3{
    display: flex;
}
.h3 {
    padding: 50px 0 0 50px;
}
.sec3_p {
    padding: 100px 0 0 0;
    margin: 0 0 0 -150px;
}
.image_3 {
    background-color: black;
    width: 350px;
    height: 200px;
    margin:  30px 0 0 220px ;
}
/* .footer {
    background-color: black;
    width: 100%;
    height: 70px;
    color: white;
    padding-left: 50%;
    font-size: 25px;
    justify-content: center; */


/* .image-and-text{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom: 20px;
}
.image-and-text img{
    max-width: 400px;
    margin-right:50px;

} */

footer{
    background-color: rgb(24, 22, 20);
    color:#fff;
    text-align:center;
    padding: 20px 0;
}
 
.container{
    width: 80%;
    margin:0  auto;

}
footer p {
     margin: 0;
}
.h2{
     box-shadow: rgb(23, 9, 9);
}